.App {
  margin: 20px;
}

.column-3 {
  width: 75%;
  float: left;
}

.column-2 {
  width: 50%;
  float: left;
}

.column-1 {
  width: 25%;
  float: left;
}

.calc-button {
  width: 100%;
  height: 100px;
  border: 2px solid #ddd;
  background: #eee;
  font-size: 32px;
  color: #555;
  /* border-radius: 50px; */
}

.result {
  height: 100px;
  width: 90%;
  border: none;
  text-align: right;
  font-size: 32px;
  position: relative;
  max-width: 100vw;
}

.floaty-last {
  position: absolute;
  /* right: 50px; */
  width: 87%;
  z-index: 99;
  top: 10px;
  color: #aaa;
  /* margin-right: 15px; */
  text-align: right;
}

.bookmark {
  float: right;
  margin-top: 10px;
  color: #555;
}

a:link {
  text-decoration: none;
}
